@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about building Web apps with ASP.NET Core</a>.</p>
    <ul>
        <li>Một</li>
        <li>Hai</li>
        <li>Ba</li>
    </ul>
</div>
