* {
  margin: 0;
  padding: 0;
}
ol, ul { list-style: none; }
img { border: none; vertical-align: top; }
button {
  background-color: #3a95ea;
  border: 1px solid #2d87da;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  padding: 8px 15px;
}
.Menu{
  float: left;
  width:25%;
  border: 1px solid red;
  background-color: #5193f3;
  /* background: rgb(43,35,213);
  background: linear-gradient(90deg, rgba(43,35,213,1) 0%, rgba(65,135,214,1) 100%); */
}
.List{
  float: right;
  width: 75%;
  border: 1px solid yellow;
  background-color: #ffffff;

}
.section {
  display: -webkit-flex;
  display: flex;
}
.a{
  border: 1px solid blue;
  margin: 10px;
}
.b{
  border: 1px solid green;
  margin: 15px 0 15px 0;
}
.c{
  border: 1px solid pink;
  padding: 200px;
}
.menuButton{
  color:#fff;
  text-align: center;
  font-size: 20px;
}