@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Writing about your to do list.</p>
    <ul>
<li>Một</li>
<li>Hai</li>     
<li>Ba</li>     
<li>Bốn</li>     
<li>Năm</li>     
    </ul>
</div>
